{% extends "../../base.html" %}
{% load static humanize %}
{% block title %}商品毎の月間購入金額{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
{% block content %}
<h2>月別・商品別 売上集計</h2>
<table>
  <tr>
    <th>商品名</th>
    {% for month in month_list %}
      <th>{{ month }}</th>
    {% endfor %}
  </tr>
  {% for item_sales_monthly in sales_monthly %}
  <tr>
    <td>{{ item_sales_monthly.item }}</td>
    {% for month_value in item_sales_monthly.month_value %}
      <td>{{ month_value|intcomma }} 円</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}