{% extends "../base.html" %} 
{% load static %}
{% block title %}購入詳細{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
{% block content %}
<h2>購入詳細一覧ページ</h2>
<table>
  <thead>
    <tr>
      <td>氏名</td>
      <td>購入日</td>
      <td>商品名</td>
      <td>商品価格</td>
      <td>数量</td>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_detail %}
    <tr>
      <td>{{ purchase.get_name }}</td>
      <td>{{ purchase.get_payment_date }}</td>
      <td>{{ purchase.get_item_name }}</td>
      <td>{{ purchase.get_item_price }}</td>
      <td>{{ purchase.get_quantity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}